:root {
    --pbmit-cleanfin-global-color: #212c40;
    --pbmit-cleanfin-secondary-color: #f6f5f0;
    --pbmit-cleanfin-gradient-color-first: #212c40;
    --pbmit-cleanfin-gradient-color-last: #111926;
    --pbmit-cleanfin-logo-height: 35px;
    --pbmit-cleanfin-sticky-logo-height: 35px;
    --pbmit-cleanfin-responsive-logo-height: 35px;
    --pbmit-cleanfin-link-color-normal: #111926;
    --pbmit-cleanfin-link-color-hover: #212c40;
    --pbmit-cleanfin-body-bg-color: #fff;
    --pbmit-cleanfin-white-color: #fff;
    --pbmit-cleanfin-light-bg-color: #f2f4f8;
    --pbmit-cleanfin-blackish-color: #111926;
    --pbmit-cleanfin-blackish-bg-color: #111926;
    --pbmit-cleanfin-preheader-bgcolor-custom: #fff;
    --pbmit-cleanfin-header-height: 100px;
    --pbmit-cleanfin-header-background-color: #fff;
    --pbmit-cleanfin-menu-background-color: #fff;
    --pbmit-cleanfin-sticky-header-height: 90px;
    --pbmit-cleanfin-sticky-header-background-color: #fff;
    --pbmit-cleanfin-main-menu-typography-font-family: Wix Madefor Display;
    --pbmit-cleanfin-main-menu-typography-variant: 700;
    --pbmit-cleanfin-main-menu-typography-font-size: 13px;
    --pbmit-cleanfin-main-menu-typography-line-height: 24px;
    --pbmit-cleanfin-main-menu-typography-letter-spacing: 1px;
    --pbmit-cleanfin-main-menu-typography-color: #fff;
    --pbmit-cleanfin-main-menu-typography-text-transform: uppercase;
    --pbmit-cleanfin-main-menu-typography-font-style: normal;
    --pbmit-cleanfin-main-menu-typography-font-weight: 700;
    --pbmit-cleanfin-main-menu-sticky-color: #111926;
    --pbmit-cleanfin-main-menu-sticky-active-color: #212c40;
    --pbmit-cleanfin-titlebar-height: 595px;
    --pbmit-cleanfin-footer-1-col-width: 33%;
    --pbmit-cleanfin-footer-2-col-width: 33%;
    --pbmit-cleanfin-footer-3-col-width: 33%;
    --pbmit-cleanfin-footer-4-col-width: hide%;
    --pbmit-cleanfin-global-color-rgb: 33, 44, 64;
    --pbmit-cleanfin-secondary-color-rgb: 246, 245, 240;
    --pbmit-cleanfin-white-color-rgb: 255, 255, 255;
    --pbmit-cleanfin-light-bg-color-rgb: 242, 244, 248;
    --pbmit-cleanfin-blackish-color-rgb: 17, 25, 38;
    --pbmit-cleanfin-blackish-bg-color-rgb: 17, 25, 38;
    --pbmit-cleanfin-main-menu-typography-color-rgb: 255, 255, 255;
    --pbmit-cleanfin-main-menu-sticky-color-rgb: 17, 25, 38;
    --pbmit-cleanfin-titlebar-breadcrumb-typography-color-rgb: 255, 255, 255
}

.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li.mega-menu-flyout>ul.mega-sub-menu,
.pbmit-navbar ul ul,
.pbmit-navbar ul ul:before {
    background-color: #fff;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll
}

.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li:nth-child(1)>ul.mega-sub-menu,
.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li:nth-child(1)>ul.mega-sub-menu>li>ul.mega-sub-menu {
    background-color: #fff;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll
}

.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li:nth-child(2)>ul.mega-sub-menu,
.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li:nth-child(2)>ul.mega-sub-menu>li>ul.mega-sub-menu {
    background-color: #fff;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll
}

.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li:nth-child(3)>ul.mega-sub-menu,
.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li:nth-child(3)>ul.mega-sub-menu>li>ul.mega-sub-menu {
    background-color: #fff;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll
}

.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li:nth-child(4)>ul.mega-sub-menu,
.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li:nth-child(4)>ul.mega-sub-menu>li>ul.mega-sub-menu {
    background-color: #fff;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll
}

.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li:nth-child(5)>ul.mega-sub-menu,
.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li:nth-child(5)>ul.mega-sub-menu>li>ul.mega-sub-menu {
    background-color: #fff;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll
}

.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li:nth-child(6)>ul.mega-sub-menu,
.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li:nth-child(6)>ul.mega-sub-menu>li>ul.mega-sub-menu {
    background-color: #fff;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll
}

.pbmit-title-bar-wrapper,
.pbmit-title-bar-wrapper.pbmit-bg-color-custom:before {
    background-color: #212c40;
    background-image: url(../../uploads/sites/2/2023/08/titlebar-new-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll
}

.site-footer,
.site-footer.pbmit-bg-color-custom:before {
    background-color: #111926;
    background-image: url(https://cleanfin-demo.pbminfotech.com/demo1/wp-content/uploads/sites/2/2023/07/footer-bg-img.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto;
    background-attachment: scroll
}

.pbmit-footer-widget-area,
.pbmit-footer-widget-area.pbmit-bg-color-custom:before {
    background-color: #053161;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll
}

.pbmit-footer-text-area,
.pbmit-footer-text-area.pbmit-bg-color-custom:before {
    background-color: #000c17;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll
}

.error404 .site-content-wrap,
.error404 .pbmit-bg-color-custom>.site-content-wrap:before {
    background-color: rgba(33, 44, 64, .5);
    background-image: url(https://cleanfin-demo.pbminfotech.com/demo1/wp-content/uploads/sites/2/2023/08/404-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll
}

body {
    font-family: DM Sans, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0;
    color: #666;
    text-transform: none;
    font-style: normal
}

h1 {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0;
    color: #212c40;
    text-transform: none;
    font-style: normal
}

h2 {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0;
    color: #212c40;
    text-transform: none;
    font-style: normal
}

h3 {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0;
    color: #212c40;
    text-transform: none;
    font-style: normal
}

h4 {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0;
    color: #212c40;
    text-transform: none;
    font-style: normal
}

h5 {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    color: #212c40;
    text-transform: none;
    font-style: normal
}

h6 {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0;
    color: #212c40;
    text-transform: none;
    font-style: normal
}

.pbmit-heading-subheading .pbmit-element-title {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 500;
    font-size: 54px;
    line-height: 60px;
    letter-spacing: 0;
    color: #212c40;
    text-transform: none;
    font-style: normal
}

.pbmit-heading-subheading .pbmit-element-subtitle {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #212c40;
    text-transform: uppercase;
    font-style: normal
}

.pbmit-ihbox.pbmit-ihbox-style-hsbox .pbmit-ihbox-content,
.pbmit-heading-subheading .pbmit-heading-desc {
    font-family: DM Sans, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0;
    color: #666;
    text-transform: none;
    font-style: normal
}

.pbminfotech-sidebar .widget_search .wp-block-search__label,
.pbminfotech-sidebar .widget_block .wp-block-group h2,
.widget-title,
.pbmit-footer-copyright-box h3,
.wp-block-search__label {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0;
    color: #212c40;
    text-transform: none;
    font-style: normal
}

.pbmit-footer-widget .widget .widget-title {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    color: #9da5b5;
    text-transform: capitalize;
    font-style: normal
}

.pbmit-search-results-back-global-btn a,
.pbmit-search-results-load-btn a,
.pbmit-read-more-link a,
.pbmit-service-btn a,
.pbmit-header-button a,
.pbmit-header-button2 a,
.woocommerce ul.products li.product .onsale,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.elementor-widget-button .elementor-button,
.pbmit-ptable-btn a,
.pbmit-service-btn,
.pbmit-static-btn,
.woocommerce .woocommerce-message .button,
.woocommerce div.product form.cart .button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
button,
html input[type=button],
input[type=reset],
input[type=submit],
.pbmit-ihbox-btn a,
.pbmit-svg-btn a,
.pbmit-ajax-load-more-btn a,
.error404 a.pbmit-home-back,
.pbmit-blog-btn a {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal
}

.elementor-progress-percentage,
.pbminfotech-sidebar .pbm_addons_recent_posts_widget .pbmit-rpw-title,
.pbmit-author-box a,
.comments-area .pbmit-comment-meta,
.pbmit-timeline time,
blockquote cite,
.elementor-accordion .elementor-tab-title a,
.elementor-widget-progress .elementor-title,
.single.single-post .pbmit-post-nav.nav-title,
.post-navigation .nav-links .nav-title,
.post-navigation .nav-links .nav-title,
.reply a,
.wp-block-tag-cloud a,
.pbminfotech-ptable-price,
.pbminfotech-ptable-symbol,
.wp-block-comments .wp-block-comment-template .wp-block-column .wp-block-comment-reply-link .comment-reply-link {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 800;
    font-style: normal
}

blockquote,
.pbmit-single-team-info li,
.pbmit-meta-line,
.pbmit-meta-line a,
.pbmit-serv-cat,
.pbmit-port-cat,
.pbminfotech-box-team-position,
.pbminfotech-ptable-frequency,
.pbminfotech-ele-fid-style-2 .pbmit-title-wrap,
.pbmit-comment-date a {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 500;
    font-style: normal
}

.pbmit-testimonial-style-2 blockquote,
.single .nav-links .pbmit-post-nav-head,
.pbminfotech-sidebar .widget_categories ul li.cat-item .pbmit-cat-li,
.pbminfotech-sidebar .widget_archive ul li .pbmit-arc-li,
.pbm_addons_recent_posts_widget .pbmit-rpw-content .pbmit-rpw-date a,
.pbmit-portfolio-lines-wrapper .pbmit-portfolio-line-li,
.pbminfotech-ele-fid-style-6 .pbmit-fid-inner,
.pbmit-service-style-4 .pbminfotech-box-number,
.pbmit-service-style-5 .pbminfotech-box-number {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 700;
    font-style: normal
}

blockquote cite em,
.pbmit-testimonial-style-1 blockquote,
.pbmit-ihbox-style-7 .pbmit-element-subtitle {
    font-family: DM Sans, sans-serif;
    font-weight: normal;
    font-style: normal
}

.pbmit-element-card-box-style-1 .pbmit-card-box-number h4,
.pbmit-marquee-effect-style-1 .pbmit-element-title,
.pbmit-element-split-slide-style-1 .pbmit-contentbox .pbmit-split-slide-number h4,
.pbminfotech-ele-fid-style-5 .pbmit-fid-inner,
.pbmit-ihbox-style-8 .pbmit-ihbox-icon .pbmit-ihbox-icon-type-text {
    font-family: Open Sans, sans-serif;
    font-weight: 800;
    font-style: normal
}

.pbmit-header-box-content,
.pbmit-header-box a {
    font-family: DM Sans, sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0;
    color: #fff;
    text-transform: none;
    font-style: normal
}

body:not(.mega-menu-pbminfotech-top) .pbmit-navbar div>ul>li>a,
.pbmit-max-mega-menu-override #page #site-navigation .max-mega-menu>li.mega-menu-item>a.mega-menu-link {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    font-style: normal
}

.pbmit-navbar ul ul a,
.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li.mega-menu-flyout>ul.mega-sub-menu li.mega-menu-item a.mega-menu-link,
.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li>ul.mega-sub-menu li.mega-menu-item>a:hover,
.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li>ul.mega-sub-menu li.mega-menu-item>a:focus,
.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li.mega-menu-megamenu>ul.mega-sub-menu ul:not(.menu)>li.mega-menu-item>a.mega-menu-link,
.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li.mega-menu-megamenu>ul.mega-sub-menu li .widget_nav_menu ul.menu>li.mega-menu-item>a.mega-menu-link {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: #111926;
    text-transform: capitalize;
    font-style: normal
}

.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item h4.mega-block-title,
.pbmit-max-mega-menu-override #page #site-navigation .mega-menu-wrap>ul>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item h4.mega-block-title {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #111926;
    text-transform: uppercase;
    font-style: normal
}

.pbmit-tbar-title {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0;
    color: #fff;
    text-transform: none;
    font-style: normal
}

.pbmit-tbar-subtitle {
    font-family: Wix Madefor Display, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0;
    color: #fff;
    text-transform: capitalize;
    font-style: normal
}

.pbmit-breadcrumb,
.pbmit-breadcrumb a {
    font-family: DM Sans, sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0;
    color: #fff;
    text-transform: none;
    font-style: normal
}

@media screen and (max-width:1200px) {
    .pbmit-pre-header-wrapper {
        display: none
    }
}

@media screen and (min-width:992px) {
    .site-footer .pbmit-footer-widget.pbmit-footer-widget-col-1 {
        -ms-flex: 0 0 var(--pbmit-cleanfin-footer-1-col-width);
        flex: 0 0 var(--pbmit-cleanfin-footer-1-col-width);
        max-width: var(--pbmit-cleanfin-footer-1-col-width)
    }

    .site-footer .pbmit-footer-widget.pbmit-footer-widget-col-2 {
        -ms-flex: 0 0 var(--pbmit-cleanfin-footer-2-col-width);
        flex: 0 0 var(--pbmit-cleanfin-footer-2-col-width);
        max-width: var(--pbmit-cleanfin-footer-2-col-width)
    }

    .site-footer .pbmit-footer-widget.pbmit-footer-widget-col-3 {
        -ms-flex: 0 0 var(--pbmit-cleanfin-footer-3-col-width);
        flex: 0 0 var(--pbmit-cleanfin-footer-3-col-width);
        max-width: var(--pbmit-cleanfin-footer-3-col-width)
    }
}